<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Home</a>
   <form class="form-inline my-2 my-lg-0">
      
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" asp-controller="Shop" asp-action="List">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Cart</a>
      <a class="nav-item nav-link" href="#">Orders</a>
      <a class="nav-item nav-link " asp-controller="Admin" asp-action="CreateProduct">Create Product</a>
      <a class="nav-item nav-link " asp-controller="Admin" asp-action="ProductList"> Product List</a>
      <a class="nav-item nav-link " asp-controller="Admin" asp-action="CreateCategory"> Create Category</a>
      <a class="nav-item nav-link " asp-controller="Admin" asp-action="CategoryList">Category List</a>
    </div>
  </div>
</nav>